<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
</head>
<body>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Optio, soluta commodi animi tempora nulla, quia sint, sunt asperiores excepturi eos doloribus ut cumque unde! 
    Maxime sequi soluta commodi culpa eligendi libero et delectus eos repellat illo odio exercitationem aut, 
    mollitia sunt minima nostrum non voluptate cum? Accusamus repudiandae, animi dolor architecto nisi suscipit, explicabo id error numquam accusantium maiores perspiciatis eveniet aperiam tempore! Odit, dolore? 
    Tempore magni quibusdam, saepe ullam maiores rerum voluptatum, consequatur quas earum cumque quis minima. Fugiat id nobis 
    dicta sed! Eius obcaecati ipsam quas corrupti labore id quae perferendis quo incidunt facere! Eveniet rem mollitia sit.
</body>
</html>