<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>project first</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sheryjs/dist/Shery.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheet/style.css">
</head>
<body>
<div id="main">
  
  <div id="gh" >
    <div class="nav">
      <div id="nleft">
        <a href="#">Home</a><a href="#">Pricing</a><a href="#">Products</a>
      </div>
      <div id="nright" className="bg-slate-950">
        <a href="">Our journey</a><a href="">About us</a>
      </div>
      
    </div>
    <hr>
  </div>
  

  <div id="home">
    <div id="hleft"> 
      <div id="sustnable">
        <h3>Sustainability</h3>
        <p>Lorem ipsum dolor sit amet,
           consectetur adipisicing elit.
            Reiciendis, ad!</p>
      
      </div>
      <div id="sustnable_img">
        <img src="https://images.pexels.com/photos/3139367/pexels-photo-3139367.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      </div>
    </div>
    <div id="hcenter">
      <div id="heading">
        <h3>Ephemerl</h3>
        <h3>Equilibrium.</h3>
      </div>
      <div id="imgtext">
        <img src="https://images.pexels.com/photos/757889/pexels-photo-757889.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Voluptates, et!</p>
      </div>
    </div>
    <div id="hright">
      <div id="circlev"><i class="ri-arrow-down-line"></i> </div>
      <h3>Visit our page</h3>
    </div>
  </div>

  <div id="motive">
    <h3> our motive</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      <span id="onespan"></span> Cumque qui cum doloribus unde provident <span id="twospan"></span>
      necessitatibus expedita doloremque ipsa culpa dolorem?</p>
  </div>

  <div id="pictures">

    <div id="left">
      <div id="leftpic">
        <img src="https://media.istockphoto.com/id/1472032995/photo/lock-cpu-concept.webp?b=1&s=170667a&w=0&k=20&c=elKxr6A9GKNSrCF6JgcltVg5mWalloWA-5lqdjPl734=" alt=""> 
        </div>
        <h3>Synergy</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Accusantium ab aspernatur aperiam numquam deserunt exercitationem.</p>
      
      </div>

    <div id="right">
      <div id="rightpic">
        <img src="https://images.unsplash.com/photo-1622447036013-a7e7367759c3?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      </div>
      <h3>Harmony</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, tempora!</p>  
    </div>
  </div>
  
  <div id="banner">
    <div id="bimg">
      <img src="https://images.unsplash.com/photo-1469474968028-56623f02e42e?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bmF0dXJlfGVufDB8fDB8fHww" alt="">
    </div> 
    <div id="btext">
      <h3>Biodegradable</h3>
      <h3>packaging</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, distinctio?</p>
    </div>
  </div>

  <div id="future">
   <video id="video" src="video/cover.mp4" autoplay muted loop></video>
   <div id="expo">
    <h2>Tap to view more</h2>
    <button id="btn">Explore here</button>
   </div>
  </div>
</div> 
<!--  Gsap is needed for Basic Effects -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

<!-- Scroll Trigger is needed for Scroll Effects -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

<!-- Three.js is needed for 3d Effects -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>

<!-- ControlKit is needed for Debug Panel -->
<script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
<script  type="text/javascript"  src="https://cdn.jsdelivr.net/npm/sheryjs/dist/Shery.js"></script>
<script src="javascript/script.js"></script>
</body>
</html>